/*------------------------------------------------------跳出式網頁對話框----------------------------------------*/
/*login*/
.loginBox{
    position: fixed;
    top:80px;
    left:50%;
    transform:translate(-170px,0px);
    width:340px;
    height:290px;
    background-color: #ffffff;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    display:none;
    z-index: 20;
}
.decoratorBar{
    width:340px;
    height:10px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
form{
    padding:15px;
    color:#666666;
}
form >.close{
    position: absolute;
    right: 17px;
    width:16px;
    height: 16px;
    cursor: pointer;
}
.loginTitle,
.signupTitle{
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    margin-bottom: 15px;
}
.loginEmail,
.loginPassword,
.loginPassword,
.signupName,
.signupEmail,
.signupPassword
{
    width:310px;
    height:47px;
    border:1px solid #cccccc;
    border-radius: 5px;
    padding:15px;
    margin-bottom: 10px;
    
}
.btn_login{
    width:310px;
    height:47px;
    background-color: #448899;
    color:#FFFFFF;
    font-size: 19px;
    border:0;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.loginURL,
.signupURL{
    width:310px;
    font-size: 16px;
    font-weight: normal;
    line-height:22px;
    text-align: center;
    cursor: pointer;
}
.signupMessage,
.loginMessage{
    width:310px;
    font-size: 16px;
    font-weight: bold;
    line-height:22px;
    text-align: center;
}
/*signup*/
.signupBox{
    position: fixed;
    top:80px;
    left:50%;
    transform:translate(-170px,0px);
    width:340px;
    height:347px;
    background-color: #ffffff;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 20;
    display:none;
}
