html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need ‘cellspacing=“0”’ in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: “”;
}
blockquote, q {
    quotes: “” “”;
}
/* -------------------------------------------------reset css---------------------------------------------------*/

*{
    box-sizing:border-box;
    color:#666666;
}

/*--------------------------------------------------navigaterbar------------------------------------------------*/
.header{
    background-color: #ffffff;
    height: 54px;
    top:0;
    position: sticky;
    border-bottom: 1px solid #E8E8E8; 
    z-index: 10;   
}
.navContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    margin:0px auto;
    padding-left: 10px;
    padding-right: 10px;
}
/*文字:台北一日遊*/
.taipeiDayTrip{
    flex:none;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #448899;
}
.menu{
    float: right;
}
li{
    font-family: "NotoSansCJKtc-Regular";
    font-size: 16px;
    list-style-type: none;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}
li:hover{
    background-color:pink;
}
a{
    text-decoration: none;
    line-height: 54px;
}

/*--------------------------------------------------------- content -------------------------------------------------*/
.content{
    width:1200px;
    margin:auto;
    /* background-color: aqua; */
}
/*_____________________圖片及右半邊的字____________________________________*/
.sectionContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
    margin-bottom: 37px;
}
/*圖片 & 箭頭 & 圓點*/
.imageContainer{
    width:540px;
    height:406px;
    margin:0;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    overflow: hidden;
}
.imageSlide{
    width: 540px;
    height: 406px;
    position: relative;
    margin: auto;
}
.mySlides{
    display: none;
    width:100%;
}
img{
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* 下一張 & 上一張 按鈕 */
.prev,
.next {
    width:36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    opacity: 0.8;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50%;  
}
.prev{
    left:10px;
}
.next {
    right: 10px;
}

.prev:hover, .next:hover {
    opacity: 1.0;
}

/* 底部小原點 */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #000;
    border: 1px solid #ffffff;
}
.dotGroup{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
/*___________________________右半邊的文字_________________________________*/
.profile{
    width:600px;
    margin-left:15px;
    margin-right:5px;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 15px;
}
.categoryMrt{
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
}
.resevation{
    width: 600px;
    height: 302px;
    background-color: #e8e8e8;
    padding-top:15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}
h2{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}
h3{
    padding-bottom: 15px;
}
h4{
    height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px; 
    font-weight: bold;
}
.resevation_textbold{
    font-size: 16px; 
    font-weight: bold;
    padding-right: 5px;
}
.bookingTime{
    padding-bottom: 15px;
}
.btn_booking{
    width:154px;
    height: 36px;
    background-color: #448899;
    color:#ffffff;
    font-size: 19px;
    border:0;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#date{
    width: 193px;
    height:35px;
    padding-left: 5px;
    margin-bottom: 15px;
    border: 0;
}
/* --------------------------------------radioButton------------------------------------------------*/

input[type="radio"] { 
    display: none;
} /*把原本的醜圈圈藏起來*/

label {  
    font-size: 14px; 
}

.radio_btn_word{ 
    display: inline-block; 
    width: 22px; 
    height: 22px;
    margin: 2px 5px 10px 2px; 
    vertical-align: middle; 
    -moz-border-radius: 50%; 
    border-radius: 50%; /*調成圓形*/
    border: 2px solid #ffffff; /*外面的白圓框框*/ 
    background-color: #ffffff; /*底層白色塗滿 */
} 

input:checked + label { 
    font-weight: bold; 
}  /*被點擊後的字型設定*/
input:checked + label .radio_btn_word{
    background-color: #448899; 
    border: 2px solid #ffffff; 
    box-shadow: 2px 2px 2px rgba(0,0,0,.1); 
}

/*下半部的字*/
.infors{
    color:#666666;
    max-width:1180px;
    padding-bottom: 100px;
}
.description{ 
    display: flex;
    flex-wrap:wrap;
    height:auto;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 23px;
    letter-spacing: 3px;
    
}
.address{
    display: flex;
    flex-wrap:wrap;
    letter-spacing: 3px;
    line-height: 23px;
    padding-bottom: 20px;
}
.transport{
    display: flex;
    flex-wrap:wrap;
    line-height: 23px;
    letter-spacing: 3px;
}
/* ---------------------------------------------------------footer------------------------------------------------ */
footer{
    margin-top:10px;
    height:104px;
    background-color: #757575;
    line-height:104px;
    text-align: center;
}
.copyright{
    color:#FFFFFF;
    display:inline-block;
}

/* media query RWD響應式設計*/

@media only screen and (max-width:1199px){
    .content{
        max-width:100%;
    }
    .sectionContainer{
        max-width: 100%;
    }
    .sectionContainer>.profile{
        width: 90%;
        padding-top: 20px;
        justify-content:center;
        margin:auto;
    }
    .resevation{
        width:95%;
    } 
    .infors{
        padding-left: 10px;
        width:95%;
    }
    .imageSlide{
        width:100%;
    }
    .imageContainer{
        margin:auto;
        width:90%;
    }
    img{
        width: 100%;
    }

}

@media only screen and (max-width:360px){
    /*nav & herosection*/
    .navContainer{
        max-width:100%;
    } 
    .content{
        max-width: 100%;
    }
    .profile{
        padding-top: 20px;
        margin:auto;
        width: 100%;
    }
    .resevation{
        width: 100%;
    }
    .imageContainer{
        width: 100%;
    }
    .imageSlide{
        width:100%;
    }
    img{
        width: 100%;
    }
}