<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>台北一日遊attraction</title>
        <link href="/static/css/attractionstyle.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/userstyle.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body>
        <nav class="header">
            <div class="navContainer">
                <div class="taipeiDayTrip" id="taipeiDayTrip">台北一日遊</div>
                <ul class="menu">
                    <li><a onclick="loginCheck_booking();">預定行程</a></li>
                    <li><a class="btn_member" id="btn_member" href="#" onclick="showLoginBox();">登入/註冊</a></li>
                    <li><a class="btn_logout" id="btn_logout" onclick="logout();">登出系統</a></li>
                </ul>
            </div>
        </nav>
        <div class="loginBox" id="loginBox">
            <div class="decoratorBar"></div>
            <form action="/api/user",method="GET">
                <div class="close" id="closeLoginBox" onclick="closeLoginBox();">
                    <img src="/static/img/icon_close.png">
                </div>
                <h3 class="loginTitle">登入會員帳號</h3>
                <input type="text" class="loginEmail" id="loginEmail" name="loginEmail" placeholder="輸入電子信箱">
                <input type="password" class="loginPassword" id="loginPassword" name="loginPassword" placeholder="輸入密碼">
                <button class="btn_login" type="button" onclick="login();">登入帳戶</button>
                <div class="loginMessage" id="loginMessage"></div>
                <h4 class="signupURL" onclick="showSignupBox();">還沒有登入帳戶?點此註冊</h4>
            </form>
        </div>
        <div class="signupBox" id="signupBox">
            <div class="decoratorBar"></div>
            <form action="/api/user",method="POST">
                <div class="close" id="closeSignupBox" onclick="closeSignupBox();">
                    <img src="/static/img/icon_close.png">
                </div>
                <h3 class="signupTitle">註冊會員帳號</h3>
                <input type="text" class="signupName" id="signupName" name="signupName" placeholder="輸入姓名">
                <input type="text" class="signupEmail" id="signupEmail" name="signupEmail" placeholder="輸入電子信箱">
                <input type="password" class="signupPassword" id="signupPassword" name="signupPassword" placeholder="輸入密碼">
                <button class="btn_login" type="button" onclick="signup();">註冊帳戶</button>
                <div class="signupMessage" id="signupMessage"></div>
                <h4 class="loginURL" onclick="showLoginBox();">已經有帳戶了?點此登入</h4>
            </form>
        </div>
        <div class="content">
            <div class="sectionContainer">
                <div class="imageContainer" id="imageContainer">
                    <div class="imageSlide" id="imageSlide">
                        <!-- <img class="image" id="image"> -->
                        <!-- <div class="prev" onclick="plusSlides(-1)"><p class="arrowicon">←</p></div>
                        <div class="next" onclick="plusSlides(1)"><p class="arrowicon">→</p></div> -->
                        <div class="prev" onclick="plusSlides(-1)">
                            <img src="/static/img/btn_leftArrow.png">
                        </div>
                        <div class="next" onclick="plusSlides(1)">
                            <img src="/static/img/btn_rightArrow.png">
                        </div>
                        <div class="dotGroup" id="dotGroup"></div>
                    </div>
                </div>
                
                <div class="profile">
                    <h1 class="name" id="name"></h1>
                    <div class="categoryMrt">
                        <span class="attractionCategory" id="attractionCategory"></span>
                        <span class="at" id="at">at</span>
                        <span class="attractionMrt" id="attractionMrt"></span>
                    </div>
                    <div class="resevation">
                        <h2>訂購導覽行程</h2>
                        <h3 class="bookingIntro">以此景點為中心的一日行程，帶您探索城市角落故事</h3>
                        <div class="bookingDate"> 
                            <span class="resevation_textbold">選擇日期:</span>
                            <input id="date" type="date">
                        </div>
                        <div class="bookingTime">
                            <span class="resevation_textbold">選擇時間:</span> 
                            <input class="morning_btn" id="morning_btn" type="radio" name="dayTime" value="morning" checked> 
                            <label for="morning_btn">
                                <span class="radio_btn_word "></span>上半天
                            </label>
                            <input class="afternoon_btn" id="afternoon_btn" type="radio" name="dayTime" value="afternoon">
                            <label for="afternoon_btn">
                                <span class="radio_btn_word "></span>下半天
                            </label>
                        </div> 
                        <div class="bookingPrice">
                            <span class="resevation_textbold">導覽費用:</span> 
                            新台幣<span id="NTD">2000</span>元
                        </div>
                        <button class="btn_booking" type="button" onclick="btn_booking();">開始預訂行程</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="infors">
                <div class="description" id="description"></div>
                <div>
                    <h4>景點地址:</h4>
                    <div class="address" id="address"></div>
                </div>
                <div>
                    <h4>交通方式:</h4>
                    <div class="transport" id="transport"></div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
        </footer>
        <script type="text/javascript" src="/static/js/attractionscript.js"></script>
        <script type="text/javascript" src="/static/js/user.js"></script>
        <script type="text/javascript" src="/static/js/bookingscript.js"></script>
    </body>
</html>
