<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>台北一日遊booking</title>
        <link href="/static/css/userstyle.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/bookingstyle.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body onload="bookingDone();">
        <nav class="header">
            <div class="navContainer">
                <a class="taipeiDayTrip" id="taipeiDayTrip">台北一日遊</a>
                <ul class="menu">
                    <li><a onclick="loginCheck_booking();">預定行程</a></li>
                    <li><a class="btn_member" id="btn_member" onclick="showLoginBox();">登入/註冊</a></li>
                    <li><a class="btn_logout" id="btn_logout" onclick="logout();">登出系統</a></li>
                </ul>
            </div>
        </nav>
        <div class="content" id="content">
            <div class="headline" id="headline">
                您好，<span class="headlineName"id="headlineName"></span>，待預定的行程如下:
            </div>
            <div class="section" id="section">
                <div class="imgContainer">
                    <img class="bookingImage" src="http://fakeimg.pl/270x162">
                </div>
                <img  class="icon_delete" onclick="deleteBooking();" src="/static/img/icon_delete.png">
                <div class="info" id="info">
                    <div class="info_Name_div">
                        台北一日遊: <span class="bookingName" id="bookingName"></span>
                    </div>
                    <div class="info_div"> 
                        <span class="infobold">日期: </span>
                        <span class="date" id="date"></span>
                    </div>
                    <div class="info_div">
                        <span class="infobold">時間: </span>
                        <span class="time" id="time"></span>
                    </div>
                    <div class="info_div">
                        <span class="infobold">費用: </span>
                        新台幣<span class="price" id="price"></span>元
                    </div>
                    <div class="info_div">
                        <span class="infobold">地點: </span>
                        <span class="bookingAddress" id="bookingAddress"></span>
                    </div>
                </div>
            </div>
        <hr>
            <div class="contactForm" id="contactForm">
                <div class="title">您的聯絡資訊</div>
                <div class="contact_div">聯絡姓名:
                    <input class="contact_input" id="contactName" type="text" value="Yakko">
                </div>
                <div class="contact_div">聯絡信箱:
                    <input class="contact_input" id="contactEmail" type="text" value="imyakkowu@gmail.com">
                </div>
                <div class="contact_div">手機號碼:
                    <input class="contact_input" id="contactPhone" type="text">
                </div>
                <div class="contact_remind">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            </div>
        <hr>
            <div class="payment" id="payment">
                <div class="title">信用卡付款資訊</div>
                <div class="payment_div">卡片號碼:
                    <div class="tpfield" id="card-number"></div>
                </div>
                <div class="payment_div">過期時間:
                    <div class="tpfield" id="card-expiration-date"></div>
                </div>
                <div class="payment_div">驗證密碼:
                    <div class="tpfield" id="card-ccv"></div> 
                </div>
            </div> 
        <hr>
            <div class="confirm" id="confirm">
                <div class="total">總價:新台幣<span id="total"></span>元</div>
                <button type="submit" class="btn_confirm" onclick="btn_onSubmit();">確認訂購並付款</button>
                <p class="paymentError"></p>
            </div>
            <div class="noschedule" id="noschedule">目前沒有任何待預定的行程</div>
        </div>
        <footer id="footer">
            <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
        </footer>
        <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
        <script type="text/javascript" src="/static/js/user.js"></script>
        <script type="text/javascript" src="/static/js/bookingscript.js"></script>
    </body>
</html>