<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale, maximum-scale=1"/>
<link href="indexstyle.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <nav>
        <div class="taipeiDayTrip">台北一日遊</div>
        <framset cols="50%,50%">
            <frame src="booking.html">
        </framset>
        <div class="navButton1">預定行程</div>
        <div class="navButton2">登入/註冊</div>
    </nav>
    <div class="heroSection">
        <h1>輕鬆享受台北一日悠閒</h1>
        <div>探索每個角落，體驗城市的深度旅遊行程</div>
        <div><input type="text" name="attractionname"/><img src="C:\Users\88691\Desktop\frontend_practice\Assignment\week9\taipei-day-trip-website\img\icon_search.png"></div>
        <img src="C:\Users\88691\Desktop\frontend_practice\Assignment\week9\taipei-day-trip-website\img\welcome_1.png">
    </div>
    <div class="content"></div>
</body>
</html>