<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>台北一日遊booking</title>
        <link href="/static/css/userstyle.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body>
        <nav class="header">
            <div class="navContainer">
                <a class="taipeiDayTrip" id="taipeiDayTrip">台北一日遊</a>
                <ul class="menu">
                    <li><a onclick="loginCheck_booking();">預定行程</a></li>
                    <li><a class="btn_member" id="btn_member" onclick="showLoginBox();">登入/註冊</a></li>
                    <li><a class="btn_logout" id="btn_logout" onclick="logout();">登出系統</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>

